body {
  background-color: #ffffff;
  color: #131313;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.dark-theme {
  background-color: #131313;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #967000;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
}

body.dark-theme header {
  width: 100%;
  background-color: #ffc107;
  color:#131313;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 7rem;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 7rem;
  transition: width 0.3s ease;
  height: 100%;
}

body.dark-theme .sidebar {
  width: 20%;
  background-color: #0000008c;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 7rem;
  transition: width 0.3s ease;
  height: 100%;
}

body.dark-theme .sidebar.collapsed,.sidebar.collapsed {
  width: 50px;
  padding: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

.sidebar a, .sidebar button {
  display: block;
  padding: 5px;
  margin: 3px 0;
  color: #131313;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body.dark-theme .sidebar a, body.dark-theme .sidebar button {
  display: block;
  padding: 5px;
  margin: 3px 0;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar.collapsed a, .sidebar.collapsed button {
  text-align: center;
}

#toggle-sidebar {
  background-color: #967000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

body.dark-theme #toggle-sidebar {
  background-color: #ffc107;
  color:#131313;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

main {
  margin-left: 25%;
  width: 100%;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidebar.collapsed + main {
  margin-left: 90px;
  width: 100%;
}

.translate-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.translate-buttons button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.translate-buttons img {
  display: block;
  width: 20px;
  height: auto;
}

.content-section {
  display: block;
  scroll-margin-top: 8rem;
}

footer {
  width: 100%;
  background-color: #967000;
  color: white;
  text-align: center;
  padding: 0.2rem;
  margin-top: auto;
  position: relative;
}

footer .sidebar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

footer .icon-button {
  margin: 0 8px;
}

body.dark-theme footer {
  background-color: #ffc107;
  color:#131313;
  text-align: center;
  padding: 0.2rem;
  margin-top: auto;
  position: relative;
}

.sidebar .icon-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 5px auto;
  border: none;
  background-color: transparent;
}

.sidebar .icon-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#certificados {
  padding-bottom: 1rem;
}
footer .icon-button {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}

footer .icon-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinha os ícones nas extremidades */
  padding: 0 5px;
  box-sizing: border-box;
}

.slider:before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #131313;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.sun {
  display: block; /* Ícone do sol visível por padrão */
  font-size: 14px;
  color: #fff;
  transition: opacity 0.4s ease;
}

.moon {
  display: block; /* Ícone da lua oculto por padrão */
  font-size: 14px;
  color: #fff;
  transition: opacity 0.4s ease;
}

input:checked + .slider .sun {
  opacity: 1; /* Oculta o ícone do sol quando o toggle está ativado */
}

input:checked + .slider .moon {
  opacity: 1; /* Exibe o ícone da lua quando o toggle está ativado */
}