body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 7rem; /* Garante que o conteúdo não fique atrás do header */
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 1rem;
  height: calc(100vh - 7rem); /* Ajuste correto para compensar o header */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 7rem;
}

.sidebar a, .sidebar button {
  display: block;
  padding: 5px;
  margin: 3px 0;
  color: #333;
  text-decoration: none;
}

.sidebar a:hover, .sidebar button:hover {
  background-color: #ddd;
}

.translate-buttons {
  display: flex; /* Alinha os botões lado a lado */
  gap: 10px; /* Adiciona espaçamento entre os botões */
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin-top: 10px; /* Adiciona um pequeno espaçamento acima */
}

.translate-buttons button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.translate-buttons img {
  display: block;
  width: 20px; /* Ajusta o tamanho das bandeiras */
  height: auto;
}

main {
  margin-left: calc(20% + 40px); /* Evita sobreposição da sidebar */
  width: calc(80% - 40px); /* Ajusta a largura do conteúdo */
}

.content-section {
  display: block;
  scroll-margin-top: 8rem;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.2rem;
  margin-top: auto; /* Mantém o footer no final */
}

.sidebar .icon-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 5px auto;
  border: none;
  background-color: transparent;
}

.sidebar .icon-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#certificados {
  padding-bottom: 1rem;
}
